/.libs/
/autom4te.cache/
/build/
/config.h
/config.h.in~
/config.log
/config.nice
/config.status
/configure~
/Makefile
/Makefile.fragments
/Makefile.objects
/kislayphp_persistence.dep
/kislayphp_persistence.la
/kislayphp_persistence.lo
/libtool
/modules/
/run-tests.php
